{% extends "blog/base.html" %}
{% block content %}    
    
<article class="media content-section">
    <img class="rounded-circle article-image" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="{% url 'profile' object.author.profile.pk %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted }}</small>
        {% if object.author == user %}
            <a class="btn btn-sm mt-1 mb-1 btn-outline-danger" href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
        </div>
        <p class="article-content">{{ object.content }}</p>
    </div>
    {% if is_liked%}
    <form action="{% url 'like_post' object.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-primary btn-sm">
            Unlike</button> - {{ object.total_likes }} Likes
    </form>
    {% else %} 
    <form action="{% url 'like_post' object.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-primary btn-sm">
            Like</button> - {{ object.total_likes }} Likes
    </form>
    {% endif %} 
</article>
    
{% endblock content %}