<div class="dropdown">
    <span class="badge bg-primary notification-badge" onClick="showNotifications()">
        {{ notifications.count }}
    </span>
    <div class="dropdown-content d-none" id="notification-container">
        {% for notification in notifications %}
            {% if notification.notification_type == 1 %}
                <div class="dropdown-item-parent">
                    <a href="#">@{{ notification.from_user }} liked your post </a>
                    <span class="dropdown-item-close">&times;</span>
                </div>    
            {% else %}
            <div class="dropdown-item-parent">
                <a href="#">@{{ notification.from_user }} has followed you </a>
                <span class="dropdown-item-close">&times;</span>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>