{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}    
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading"> {{ user.username }}</h2>
                <p class="text-secondary"> {{ user.email }}</p>
            </div>
        {% if user.profile.name %}
        <h3>Name</h3>
        <p> {{user.profile.name}}</p>
        {% endif %}
        {% if user.profile.bio %}
        <h3 class="py-4">Bio</h3>
          <p>{{user.profile.bio}}</p>
        {% endif %}
        </div>
        {% if profile.user == request.user %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Profile info </legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Update profile</button>
            </div>
        </form>
        {% endif %}
        
        <div class="mt-5">
        {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'profile' post.author.profile.pk%}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
              </div>
              <p class="article-content">{{ post.content }}</p>
              <small><a class="text-muted" href="{% url 'post-detail' post.id %}">See post details</a></h2>
            </div>
          </article>
        {% endfor %}
        
    </div>
    </div>

{% endblock content %}